<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [11]:
#!pip install pandas
#!pip install requests
!pip install bs4

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.10.0-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 5.4 MB/s
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.1-py3-none-any.whl (37 kB)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1271 sha256=80310a7cbf75d60e797fa05d785543e19f8a375985b0e4f4dc622d81adc7a5af
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/0a/9e/ba/20e5bbc1afef3a491f0b3bb74d508f99403aabe76eda2167ca
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.10.0 bs4-0.0.1 soupsieve-2.3.1

## Imports

Import any additional libraries you may need here.

In [12]:
from bs4 import BeautifulSoup #helps in web scrapping.
import requests # helps us to download a web page
import pandas as pd
from bs4 import BeautifulSoup

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [57]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=a74582f972888ce6c8ac9eda18ba5d33"  #Make sure to change ******* to your API key.
r=requests.get(url)
print(r.status_code)
print(r.request.headers)

requests.get(url).text[1:100]

200
{'User-Agent': 'python-requests/2.26.0', 'Accept-Encoding': 'gzip, deflate, br', 'Accept': '*/*', 'Connection': 'keep-alive'}

'"success":true,"timestamp":1638605684,"base":"EUR","date":"2021-12-04","rates":{"AED":4.155546,"AFN'

In [23]:
print("request body:", r.request.body) # None
header=r.headers
print(r.headers)

request body: None
{'Date': 'Sat, 04 Dec 2021 08:38:24 GMT', 'Content-Type': 'application/json; Charset=UTF-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'x-apilayer-transaction-id': 'ff152964-5d43-4dc5-a724-7bc867d15758', 'access-control-allow-methods': 'GET, HEAD, POST, PUT, PATCH, DELETE, OPTIONS', 'access-control-allow-origin': '*', 'x-request-time': '0.026', 'CF-Cache-Status': 'DYNAMIC', 'Report-To': '{"endpoints":[{"url":"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=pPMSDVnVtN8Vw7rntpoeRISEw7f7CERIOXJKCWBFCiuwiyTsKc%2B4XI2EUdX1lyAjSnKrs4iXIvUqqrc0EIiSdQIxuPJHjZmjZH5dM2txNEOb3hN8gPebvidpLsd1iAgK2pLge0a2CqNl"}],"group":"cf-nel","max_age":604800}', 'NEL': '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}', 'Server': 'cloudflare', 'CF-RAY': '6b83b7e5eea77f86-IAD', 'Content-Encoding': 'gzip'}

In [27]:
print(header['date'])
print(header['Content-Type'])
r.encoding

Sat, 04 Dec 2021 08:38:24 GMT
application/json; Charset=UTF-8

'UTF-8'

In [40]:
# json to python dict
d = r.json()

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [52]:
# Turn the data into a dataframe
df = pd.DataFrame(d)
df

     success   timestamp base        date         rates
AED     True  1638605684  EUR  2021-12-04      4.155546
AFN     True  1638605684  EUR  2021-12-04    108.779225
ALL     True  1638605684  EUR  2021-12-04    120.997745
AMD     True  1638605684  EUR  2021-12-04    554.347921
ANG     True  1638605684  EUR  2021-12-04      2.038658
..       ...         ...  ...         ...           ...
YER     True  1638605684  EUR  2021-12-04    283.119359
ZAR     True  1638605684  EUR  2021-12-04     18.262122
ZMK     True  1638605684  EUR  2021-12-04  10183.461688
ZMW     True  1638605684  EUR  2021-12-04     20.174418
ZWL     True  1638605684  EUR  2021-12-04    364.292450

[168 rows x 5 columns]

In [53]:
# Drop unnescessary columns
df.drop(df.columns[[0,1,2,3]], axis = 1, inplace = True)
df.head(5)

          rates
AED    4.155546
AFN  108.779225
ALL  120.997745
AMD  554.347921
ANG    2.038658

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [55]:
# Save the Dataframe
df.to_csv('exchange_rates_1.csv')

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).